# Node.js (Backend - server)
backend/node_modules/
backend/.env
backend/logs/
backend/build/
backend/dist/
backend/.vscode/
backend/.idea/
backend/.DS_Store

# React (Frontend - client)
node_modules/
.env
client/.vscode/
client/.idea/
client/.DS_Store
client/.eslintcache
client/package-lock.json

# Common Files
*.log
*.swp
*.bak
*.tgz
*.zip
coverage/
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
Thumbs.db

# Temporary files
*.swp
*.swo
